In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
bike_path='202010-citibike-tripdata'

In [4]:
bike_data=pd.read_csv(bike_path)

FileNotFoundError: [Errno 2] No such file or directory: '202010-citibike-tripdata'

In [80]:
bike_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,222,2020-09-01 00:15:58.6470,2020-09-01 00:19:40.8750,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,45656,Subscriber,1992,1
1,193,2020-09-01 00:49:00.7370,2020-09-01 00:52:14.3640,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,45352,Subscriber,1991,1
2,273,2020-09-01 00:51:44.5870,2020-09-01 00:56:17.7160,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,44424,Subscriber,1969,1
3,1419,2020-09-01 00:52:48.3160,2020-09-01 01:16:28.0490,3203,Hamilton Park,40.727596,-74.044247,3270,Jersey & 6th St,40.725289,-74.045572,42240,Subscriber,1986,1
4,254,2020-09-01 00:56:16.7170,2020-09-01 01:00:31.0870,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,42434,Subscriber,1992,1

In [81]:
bike_data.shape

(53833, 15)

In [82]:
#Hmmm, let's drop all data from before 2020
bike_data.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [83]:
#Split start time into date and time columns, and then filter on date
new = bike_data["starttime"].str.split(" ", n = 1, expand = True)

In [84]:
new.head()

            0              1
0  2020-09-01  00:15:58.6470
1  2020-09-01  00:49:00.7370
2  2020-09-01  00:51:44.5870
3  2020-09-01  00:52:48.3160
4  2020-09-01  00:56:16.7170

In [85]:
bike_data["date"]=new[0]

In [86]:
bike_data["time"]=new[1]

In [87]:
bike_data = bike_data.astype({"date": "object", "time": "datetime64"})

In [88]:
bike_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,time
0,222,2020-09-01 00:15:58.6470,2020-09-01 00:19:40.8750,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,45656,Subscriber,1992,1,2020-09-01,2020-11-12 00:15:58.647
1,193,2020-09-01 00:49:00.7370,2020-09-01 00:52:14.3640,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,45352,Subscriber,1991,1,2020-09-01,2020-11-12 00:49:00.737
2,273,2020-09-01 00:51:44.5870,2020-09-01 00:56:17.7160,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,44424,Subscriber,1969,1,2020-09-01,2020-11-12 00:51:44.587
3,1419,2020-09-01 00:52:48.3160,2020-09-01 01:16:28.0490,3203,Hamilton Park,40.727596,-74.044247,3270,Jersey & 6th St,40.725289,-74.045572,42240,Subscriber,1986,1,2020-09-01,2020-11-12 00:52:48.316
4,254,2020-09-01 00:56:16.7170,2020-09-01 01:00:31.0870,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,42434,Subscriber,1992,1,2020-09-01,2020-11-12 00:56:16.717

In [89]:
bike_data.dtypes

tripduration                        int64
starttime                          object
stoptime                           object
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
date                               object
time                       datetime64[ns]
dtype: object

In [92]:
bike_data.drop(bike_data[bike_data["date"]<"2020-09-15"].index, inplace=True)

In [93]:
bike_data.shape

(33874, 17)

In [96]:
bike_data.loc[:, "birth year"] = bike_data["birth year"].apply(lambda x: 2020-x)

In [97]:
bike_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,time
19959,344,2020-09-15 00:08:58.0600,2020-09-15 00:14:42.9180,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,18778,Customer,51,0,2020-09-15,2020-11-12 00:08:58.060
19960,2165,2020-09-15 00:18:36.5810,2020-09-15 00:54:41.7420,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,44157,Subscriber,31,1,2020-09-15,2020-11-12 00:18:36.581
19961,2118,2020-09-15 00:18:36.6230,2020-09-15 00:53:55.2300,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,45543,Subscriber,31,1,2020-09-15,2020-11-12 00:18:36.623
19962,772,2020-09-15 00:29:04.1960,2020-09-15 00:41:56.6270,3694,Jackson Square,40.711130,-74.078900,3268,Lafayette Park,40.713464,-74.062859,46541,Customer,30,1,2020-09-15,2020-11-12 00:29:04.196
19963,1295,2020-09-15 00:35:42.9090,2020-09-15 00:57:18.5160,3194,McGinley Square,40.725340,-74.067622,3206,Hilltop,40.731169,-74.057574,44401,Customer,51,0,2020-09-15,2020-11-12 00:35:42.909

In [98]:
bike_data.rename(columns = {'birth year':'age'}, inplace = True)

In [101]:
bike_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,age,gender,date,time
19959,344,2020-09-15 00:08:58.0600,2020-09-15 00:14:42.9180,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,18778,Customer,51,0,2020-09-15,2020-11-12 00:08:58.060
19960,2165,2020-09-15 00:18:36.5810,2020-09-15 00:54:41.7420,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,44157,Subscriber,31,1,2020-09-15,2020-11-12 00:18:36.581
19961,2118,2020-09-15 00:18:36.6230,2020-09-15 00:53:55.2300,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,45543,Subscriber,31,1,2020-09-15,2020-11-12 00:18:36.623
19962,772,2020-09-15 00:29:04.1960,2020-09-15 00:41:56.6270,3694,Jackson Square,40.711130,-74.078900,3268,Lafayette Park,40.713464,-74.062859,46541,Customer,30,1,2020-09-15,2020-11-12 00:29:04.196
19963,1295,2020-09-15 00:35:42.9090,2020-09-15 00:57:18.5160,3194,McGinley Square,40.725340,-74.067622,3206,Hilltop,40.731169,-74.057574,44401,Customer,51,0,2020-09-15,2020-11-12 00:35:42.909

In [102]:
bike_data['trip_id']=bike_data.index
bike_data = bike_data.reset_index(drop=True)

In [106]:
bike_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,age,gender,date,time,trip_id
0,344,2020-09-15 00:08:58.0600,2020-09-15 00:14:42.9180,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,18778,Customer,51,0,2020-09-15,2020-11-12 00:08:58.060,19959
1,2165,2020-09-15 00:18:36.5810,2020-09-15 00:54:41.7420,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,44157,Subscriber,31,1,2020-09-15,2020-11-12 00:18:36.581,19960
2,2118,2020-09-15 00:18:36.6230,2020-09-15 00:53:55.2300,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,45543,Subscriber,31,1,2020-09-15,2020-11-12 00:18:36.623,19961
3,772,2020-09-15 00:29:04.1960,2020-09-15 00:41:56.6270,3694,Jackson Square,40.711130,-74.078900,3268,Lafayette Park,40.713464,-74.062859,46541,Customer,30,1,2020-09-15,2020-11-12 00:29:04.196,19962
4,1295,2020-09-15 00:35:42.9090,2020-09-15 00:57:18.5160,3194,McGinley Square,40.725340,-74.067622,3206,Hilltop,40.731169,-74.057574,44401,Customer,51,0,2020-09-15,2020-11-12 00:35:42.909,19963

In [108]:
end_point = bike_data[['stoptime', 'end station latitude', 'end station longitude', 'trip_id']].copy()

In [109]:
end_point.head()

,stoptime,end station latitude,end station longitude,trip_id
0,2020-09-15 00:14:42.9180,40.725726,-74.071959,19959
1,2020-09-15 00:54:41.7420,40.712419,-74.038526,19960
2,2020-09-15 00:53:55.2300,40.712419,-74.038526,19961
3,2020-09-15 00:41:56.6270,40.713464,-74.062859,19962
4,2020-09-15 00:57:18.5160,40.731169,-74.057574,19963

In [107]:
bike_data.to_csv('big_nyc_cleaned_data.csv', index = False)

In [110]:
end_point.to_csv('big_nyc_cleaned_endpoint.csv', index = False)